/*font Variables*/
$primary-font: "Cerebri Sans", Helvetica, Arial, sans-serif;

/*Color Variables*/
$primary-color: #000;
$primary-color2: #000;
$primary-color3: #000;
$title-color: #222222;
$text-color: #000;
$white: #ffffff;
$black: #000000;
$sidebar_bg: #dcdcdf; 
/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
