/*font Variables*/
$primary-font: "Cerebri Sans", Helvetica, Arial, sans-serif;

/*Color Variables*/
$primary-color: #415094;
$primary-color2: #4046f4;
$primary-color3: #4046f4;
$title-color: #222222;
$text-color: #828bb2;
$white: #ffffff;
$black: #000000;
$sidebar_bg: #e7ecff; 
/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
